* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* de trc cho de can*/
div {
    border: 1px solid black;
}

.header {
    height: 50px;
    background-color: aqua;
}

.nav {
    height: 50px;
    background-color: burlywood;
}

.content {
    height: 300px;
}

.left-block, .right-block, .right-edit {
    height: 300px;
    float: left; /*cho div len 1 dong duoi class con moi cho %*/
}

.left-block {
    width: 20%; /*duoi class con moi cho %*/
    background-color: red;
}

.right-block {
    width: 60%; /*duoi class con moi cho %*/
    background-color: antiquewhite;
}

.right-edit {
    background-color: aquamarine;
    width: 20%;
   
}

.footer {
    height: 100px;
    background-color: blueviolet;
}
